:root {
  background-color: white;
  padding-bottom: 15px;
}

body {
  margin: 15px;
}

.app {
  background-color: #242424; 
}

h1 {
  margin: 10px 5px 10px 5px; 
}

@media screen and (max-width: 780px) {
  body {
    margin: 1px;
  }
}

