.login {
    background-color: #242424;
    color: white; 
    display: flex; 
    padding: 5px;
    justify-content: space-around;
}

.login > form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    align-self: end;
}

button {
    margin: 5px; 
    background-color: #ffe6ea;
}

.accountInfo {
    background-color: #242424;
    color: white; 
    padding: 5px;
}

.favoritesList > .dateListArea { 
    justify-content: left; 
}

.accountCity {
    display: flex; 
    justify-content: left;
}

#choosecity {
    margin: 0px auto;
}

.account {
    display: flex; 
}

.accountDetails {
    color: #ffccd5;
}

.loginButton {
    background-color: #ffe6ea;
}

.submitButton {
    background-color: #ffe6ea;
}

.favoritebutton {
    background-color: #ffe6ea;
}

@media screen and (max-width: 780px) {
    .login {
        flex-direction: column;
    }

    label {
        align-self: auto;
        padding: 3px;
    }

    .account {
        padding: 2px;
    }

    .accountCity {
        flex-direction: column;
        width: auto;
    }

    #chooseCity {
        margin: 5px;
    }
    
    .favoritesList> p { 
        padding: 5px;
    }

}
