.cityArea {
    background-color: #242424;
    margin-top: 0px;
}

#citysearch {
    margin: 0 auto;
    padding: 5px;
}

.searchMessage { 
    color: white; 
    padding: 5px;
}

@media screen and (max-width: 780px) {
    #citysearch {
        flex-direction: column;
    }

    #citysearch > label {
        text-align: center;
    }
}