.contribute {
  background-color: #242424;
  color: white; 
  padding: 5px;
}

.contributions {
  display: flex; 
}

.contributeform {
    align-self: center;  
    border: white 4px double; 
    padding: 10px; 
}

.contributeButton {
  background-color: #ffccd5;
}

.submitButton {
  background-color: #ffccd5;
}

.forms {
  display: flex; 
  align-items: center; 
}

@media screen and (max-width: 780px) {
  .contributions {
    flex-direction: column-reverse;
  } 
  
  .optionsArea {
    width: auto;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
}