

.pageTop {
  background-color: white; 
}

.searchBar {
  display: flex; 
  justify-content: space-evenly;
  background-color: #242424;
  padding: 5px;
  /* margin-top: 5px; */
}

.searchForm {
    display: flex;
    flex-direction: column; 
    width: 20%;
    text-align: center; 
    color: white;
    padding: 5px;
}

.searchForm > label {
  margin: 2px; 
  align-self: center;
}

input {
  margin: 2px;
}

.dateListArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    background-color: #242424;
    color: white; 
    justify-content: space-around;
    padding-bottom: 10px; 
  }
  
  .date {
    border: 2px #ffe6ea solid; 
    padding: 5px; 
    width: 30%;
    margin: 5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #242424;
    color: white; 
  }

  .dateimage {
    height: 150px; 
    width: 50%;
  }
  
  .dateButton {
    background-color: #ffb3c1; 
    color: black; 
  }

  .updateButton {
    height: 20px;
    line-height: 5px;
    background-color: darkgray;
    font-size: small;
  }

  .searchButton {
    background-color: #ffccd5;
    width: 50%;
    align-self: center;
  }

  .resetButton {
    background-color: #ffccd5;
    height: 50%; 
    align-self: center; 
  }

  .buttonArea {
    background-color: #242424;
    padding: 5px;
  }

  @media screen and (max-width: 780px) {
    .searchBar {
      flex-direction: column; 
    }

    .searchForm {
      width: auto;
      flex-direction: row;
      justify-content: space-between;
    }

    .searchForm > label {
      text-align: left;
    }

    .resetButton {
      width: 100%; 
      margin: 0;
    }

    .dateListArea {
      flex-direction: column; 
    }
    
    .date {
      width: auto;
    }

  }