.navbar {
    display: flex; 
    justify-content: space-around; 
    vertical-align: middle;
    background-color: #ffe6ea;
    color: #242424;
    margin-top: 0px;
}

.navItem {
    align-self: center; 
    color: #242424;
}

.navLink {
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .navbar {
        flex-direction: column;
    }

    p {
        margin: 0;
    }

    .navItem {
        padding: 2px;
    }

    .welcome {
        text-align: center;
    }
}